.pedidoslistar {
    background-color: #1c1c1c;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .pedidoslistar h2 {
    text-align: center;
    margin-top: 0; /* para quitar el margen superior predeterminado */
    margin-bottom: 20px; /* para agregar un espacio inferior */
  }
  
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
  }
  
  .pedidoli {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #2c2c2c;
    display: inline-block;
    width: 48%; /* para que haya un espacio mínimo entre elementos */
    vertical-align: top;
    margin-right: 2%; /* para que haya un espacio mínimo entre elementos */
  }
  
  .pedidoli:last-child {
    margin-right: 0;
  }
  
  /* Media Query para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .pedidoslistar {
      padding: 10px;
    }
    
    .pedidoli {
      display: block;
      width: 100%;
      margin-right: 0;
    }
  }
  
  
  
  
 
  
